* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 16px;
    color: rgba(10, 10, 10, .85);
    background-color: rgb(240, 240, 240);
}

.start-quiz-section, .response-section {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.start-quiz-button, .response-close-button, .restart-button {
    border: none;
    background-color:cornflowerblue;
    color: white;
    font-size: 20px;
    padding: 16px 24px;
    border-radius: 4px;
    margin: 16px 0;
    cursor: pointer;
    transition: all .2s ease-in-out;
}
.start-quiz-button:hover, .response-close-button:hover, .restart-button:hover {
background-color: rgb(80, 134, 235);
}

.game-section, .game-over-section {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.start-quiz-section h1, .game-section h1, .game-over-section h1 {
    font-size: 36px;
    margin-bottom: 8px;
}

.response-section h1 {
    line-height: 40px;
}

.game-section li {
    list-style-type: none;
    padding: 8px 0;
    font-size: 32px;
    transition: all .2 ease-in-out;
    cursor: pointer;
}

.game-section li:hover {
    color: cornflowerblue;
}

#score-text, #total-questions {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.8)
}

#question {
    margin-top: 16px;
}

.disappear {
    display: none;
}